.terms{
    padding: 70px 0;
    .heading{
        h2{
        font-size: 32px;
        font-weight: bold;
        padding-bottom: 15px;
        }
    }
    .desc{
        .desc-heading{
            font-size: 32px;
            font-weight: bold;
            padding-bottom: 15px;
        }
    }
}