.modal-dialog {
  max-width: 720px;
}
.modal-content {
  padding: 20px;
}
.modal-header {
  flex-direction: column-reverse;
  border: none;
}
.modal-body {
  padding: 20px;
}

.btn-submit {
  width: 100%;
}
